<!DOCTYPE html>
<html>
<head>
    <title>Contact Us - YouTube Comment Abusivity Analyzer</title>
    <link rel="stylesheet" type="text/css" href="/static/contact.css">
</head>
<body>
    <header>
        <h1>YouTube Comment Abusivity Analyzer</h1>
        <nav>
            <ul class="list">
                <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('team') }}">Our Team</a></li>
                <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Contact Us</h2>
        <!-- Display flash messages -->
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul>
        {% for message in messages %}
            <li class="flash-{{ message[1] }}">{{ message[0] }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

        <p>If you have any questions or feedback, feel free to get in touch with us using the form below.</p>
        <form action="https://formspree.io/f/mbjvzaev" method="POST">
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Your Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <button type="submit">Send Message</button>
        </form>
    </main>
</body>
</html>
